<div class="panel panel-default text-center">
    <div class="panel-body">
        <strong>{{ order.supplierId.name }}</strong>
    </div>
</div>
{% block sidebar_right %}
    {{ render(controller(
    'CartBundle:Cart:sidebarWidget',
    { 'orderId': order.id, 'redirectUrl': redirectUrl }
    )) }}
{% endblock %}