{% extends 'ProductBundle::layout.html.twig' %}

{% block content_header %}
    Product list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% include 'ProductBundle::Product/items.html.twig' %}
        </div>
        <div class="col-md-3">
            {% block sidebar_right %}
                {{ render(controller(
                'CartBundle:Cart:sidebarWidget',
                { 'orderId': orderId }
                )) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
