host_order_index:
  path: /
  defaults: { _controller: "IlluminatiOrderBundle:Default:index" }

host_order_new:
  path: /new
  defaults: { _controller: "IlluminatiOrderBundle:Default:create" }

host_order_summary:
  path: /summary/{id}
  defaults: { _controller: "IlluminatiOrderBundle:Default:summary"}

host_order_edit:
  path: /{id}/edit
  defaults: { _controller: "IlluminatiOrderBundle:Default:editHostOrder"}

host_order_email_remiders:
  path: /{id}/payments_reminder
  defaults: { _controller: "IlluminatiOrderBundle:Default:deptReminder"}