
#checkout {
  table {
    thead {
      tr {
        th.photo {
          width:180px;
        }
      }
    }
    tbody {
      tr {
        td {
          a.thumbnail {
            width: 180px;
          }
          input.quantity {
            width: 120px;
          }
        }
      }
    }
  }
}

