{% extends ":default:index.html.twig" %}

{% block body %}
<div class="container">

    <h2 class="page-header">
        {% block content_header %}{% endblock %}
    </h2>

    <ol class="breadcrumb">
        {% block breadcrumbs %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
        {% endblock %}
    </ol>

    {% block content %}{% endblock %}

</div>
{% endblock %}
