{% extends ":default:index.html.twig" %}

{% block body %}
<div id="wrapper">
    <div class="container">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Group food ordering system</h1>
            <p>order food easy! <a class="btn btn-primary" href="/order/new">Create new order</a></p>
        </div>

        <div id="welcome">
            <h2 class="page-header text-center">
                Why should I use a group of food ordering system?
            </h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </div>
                <div class="col-md-4 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </div>
                <div class="col-md-4 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
