{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/master.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/all.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Group food ordering system</h1>
                <p>order food easy!</p>
            </div>

            <div id="welcome">
                <h1 class="page-header"><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                <p>Automatic deployment test</p>
            </div>
        </div>
    </div>
{% endblock %}
