{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ 'assets/master.css' }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/all.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="welcome">
                <h1 class="page-header"><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
