# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
  app.form.registration:
          class: Illuminati\UserBundle\Form\RegistrationType
          tags:
              - { name: form.type, alias: app_user_registration }

  app.form.profile:
            class: Illuminati\UserBundle\Form\ProfileType
            tags:
                - { name: form.type, alias: app_user_profile }
  app.form.change_password:
            class: Illuminati\UserBundle\Form\ChangePasswordType
            tags:
                - { name: form.type, alias: app_password_change }
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
