html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

#wrapper.home {
  margin-top: -40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #204d74;
  p {
    a {
      color:#fff;
    }
    margin: 12px 0 0 0;
  }
}

.jumbotron{
  padding: 30px;
}