// Main style file, for including styles from other bundles

$icon-font-path: 'fonts/';

// Include bootstrap styles
@import '../../../../web/assets/vendor/bootstrap-sass/assets/stylesheets/_bootstrap';

// Common styles
@import 'common';

// Product bundle styles
@import '../../../../src/Illuminati/ProductBundle/Resources/public/sass/product';

// Cart bundle styles
@import '../../../../src/Illuminati/CartBundle/Resources/public/sass/cart';
