{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1 class="page-header">{{ "resseting.pageheader"|trans({},"messages") }}</h1>
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
