<table class="table table-hover">
    <thead>
        <tr>
            <th>Participant email</th>
            <th class="col-sm-2  text-center">Order status</th>
            <th class="col-sm-1  text-center">Prepayed</th>
        </tr>
    </thead>
    <tbody>
        <tr class="orderParticipant">
            <td>LoremIpsum2@gmail.com</td>
            <td class="warning  text-center">Choosing</td>
            <td class="success text-center"><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
        <tr>
            <td>LoremIpsum3@gmail.com</td>
            <td class="success  text-center">Confirmed</td>
            <td class="text-center"><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>LoremIpsum4@gmail.com</td>
            <td class="warning text-center">Choosing</td>
            <td class="success text-center"><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
        <tr>
            <td>LoremIpsum5@gmail.com</td>
            <td class="success text-center">Confirmed</td>
            <td class="success text-center"><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
    </tbody>
</table>