{% extends ":default:index.html.twig" %}

{% block body %}
<div id="wrapper">
    <div class="container">
        {% block content -%}
            <form method="post">
                <button class="btn btn-primary" name="submit" type="submit">Submit</button>
            </form>
        {% endblock %}
    </div>
</div>
{% endblock %}
